<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="imagery/logo-menu.png">
    <title>IBM</title>
    <meta name="description" content="This website is to show same IBM'S products">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/principal.css">

  </head>
<body>
 <div class="mb-1 mt-1">
 <a href="pt-br.html" class="translate ml-2" id="pt-br"><img class="idioma" src="imagery/brazil.png"></a>
 <a href="en.html" class="translate ml-1" id="en"><img class="idioma" src="imagery/english.png"></a>
 <a href="es.html" class="translate ml-1" id="es"><img class="idioma" src="imagery/spanish.jpg"></a>
 </div>

 <!-- Menu-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="imagery/logo-menu.png" width="70px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item dropdown">
          <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </a>-->
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#"></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"></a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search here" aria-label="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container-fluid">

  <!-- buttons -->  
  <div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-8 ml-1">
      <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <button type="button" class="btn btn1">IBM Volunteers</button>
          <button type="button" class="btn btn2">P-TECH</button>
          <button type="button" class="btn btn3">IBM.org</button>
        </div>
      </div>
  </div>

  <div class="row mt-5">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      <div class="ibm">
          <div id="myCarousel" class="carousel carousel1 slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" id="1">
                  <div class="row">
                      <div class="col-md-6">
                        <h1><img src="asset/BG-IV-01.jpg" class="proimg"></h1>
                        <p class="texto">BG-IV-01</p>
                        <button type="button" value="BG-IV-01" class="btn btn-primary copy">Click to copy asset code</button>
                      </div>
                      <div class="col-md-4">
                          <h3>Volutenteers IBM Bag - Blue</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                          when an unknown printer took a galley of type and scrambled it to make a type 
                          specimen book. It has survived not only five centuries, but also the leap into
                          electronic typesetting, remaining essentially unchanged. It was popularised in
                          the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                          and more recently with desktop publishing software like Aldus PageMaker including
                          versions of Lorem Ipsum.</p>
                          <a href="" class="ml-1"><img width="8%" src="imagery/alert-icon.png"> Estimates</a>
                        </div>
                    </div>
              </div>
              <div class="carousel-item" id="2">
                  <div class="row">
                      <div class="col-md-6">
                        <h1><img src="asset/BG-IV-02.jpg" class="proimg"></h1>
                        <p class="texto">BG-IV-02</p>
                        <button type="button" value="BG-IV-02" class="btn btn-primary copy">Click to copy asset code</button>
                      </div>
                      <div class="col-md-4">
                          <h3>Volutenteers IBM Bag - Blue 2</h3>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                              when an unknown printer took a galley of type and scrambled it to make a type 
                              specimen book. It has survived not only five centuries, but also the leap into
                              electronic typesetting, remaining essentially unchanged. It was popularised in
                              the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                              and more recently with desktop publishing software like Aldus PageMaker including
                              versions of Lorem Ipsum.</p>
                              <a href="" class="ml-1"><img width="8%" src="imagery/alert-icon.png"> Estimates</a>
                        </div>
                    </div>
              </div>
              <div class="carousel-item" id="3">
                <div class="row">
                  <div class="col-md-6">
                    <h1><img src="asset/BG-IV-03.jpg" class="proimg"></h1>
                    <p class="texto">BG-IV-03</p>
                    <button type="button" value="BG-IV-03" class="btn btn-primary copy">Click to copy asset code</button>
                  </div>
                  <div class="col-md-4">
                      <h3>Volutenteers IBM Bag - White</h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                          when an unknown printer took a galley of type and scrambled it to make a type 
                          specimen book. It has survived not only five centuries, but also the leap into
                          electronic typesetting, remaining essentially unchanged. It was popularised in
                          the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                          and more recently with desktop publishing software like Aldus PageMaker including
                          versions of Lorem Ipsum.</p>
                          <a href="" class="ml-1"><img width="8%" src="imagery/alert-icon.png"> Estimates</a>
                    </div>
                </div>
            </div>
          </div>
          <br>
          <div class="btn-group ml-5 mb-5" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary previous"><</button>
              <button type="button" class="btn btn-primary one">1</button>
              <button type="button" class="btn btn-primary active"><div class="atual"></div></button>
              <button type="button" class="btn btn-primary three">3</button>
              <button type="button" class="btn btn-primary next">></button>
            </div>
            
        </div>
    </div>
    
    <!-- IBM2 -->
    <div class="ibm2">
        <div id="myCarousel" class="carousel carousel1 slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" id="1">
                <div class="row">
                    <div class="col-md-6">
                      <h1><img src="asset/TS-PT-01.jpg" class="proimg"></h1>
                      <p class="texto">TS-PT-01</p>
                      <button type="button" value="TS-PT-01" class="btn btn-primary copy">Click to copy asset code</button>
                    </div>
                    <div class="col-md-4">
                        <h3>T-shirt P-teach - Black</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type 
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised in
                            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.</p>
                            <a href="" class="ml-1"><img width="8%" src="imagery/alert-icon.png"> Estimates</a>
                      </div>
                  </div>
                
            </div>
            <div class="carousel-item" id="2">
                <div class="row">
                    <div class="col-md-6">
                      <h1><img src="asset/TS-PT-02.jpg" class="proimg"></h1>
                      <p class="texto">TS-PT-02</p>
                      <button type="button" value="TS-PT-02" class="btn btn-primary copy">Click to copy asset code</button>
                    </div>
                    <div class="col-md-4">
                        <h3>T-shirt P-teach - Blue</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type 
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised in
                            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.</p>
                            <a href="" class="ml-1"><img width="8%" src="imagery/alert-icon.png"> Estimates</a>
                      </div>
                  </div>
                  
            </div>
            <div class="carousel-item" id="3">
              <div class="row">
                <div class="col-md-6">
                  <h1><img src="asset/TS-PT-03.jpg" class="proimg"></h1>
                  <p class="texto">TS-PT-03</p>
                  <button type="button" value="TS-PT-03" class="btn btn-primary copy">Click to copy asset code</button>
                </div>
                <div class="col-md-4">
                    <h3>T-shirt P-teach - White</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised in
                        the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.</p>
                        <a href="" class="ml-1"><img width="8%" src="imagery/alert-icon.png"> Estimates</a>
                  </div>
              </div>
          </div>
        </div>
        <br>
        <div class="btn-group ml-5 mb-5" role="group" aria-label="Basic example">

            <button type="button" class="btn btn-primary previous"><</button>
            <button type="button" class="btn btn-primary one">1</button>
            <button type="button" class="btn btn-primary active"><div class="atual"></div></button>
            <button type="button" class="btn btn-primary three">3</button>
            <button type="button" class="btn btn-primary next">></button>
          </div>
      </div>
  </div>
      <div class="ibm3">
        <div id="myCarousel" class="carousel carousel1 slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" id="1">
                <div class="row">
                    <div class="col-md-6">
                      <h1><img src="asset/TC-IO-01.jpg" class="proimg"></h1>
                      <p class="texto">TC-IO-01</p>
                      <button type="button" value="TC-IO-01" class="btn btn-primary copy">Click to copy asset code</button>
                    </div>
                    <div class="col-md-4">
                        <h3>Smart for Good</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type 
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised in
                            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.</p>
                            <a href="" class="ml-1"><img width="8%" src="imagery/alert-icon.png"> Estimates</a>
                      </div>
                  </div>
            </div>
            <div class="carousel-item" id="2">
                <div class="row">
                    <div class="col-md-6">
                      <h1><img src="asset/BN-IO-02.jpg" class="proimg"></h1>
                      <p class="texto">BN-IO-02</p>
                      <button type="button" value="BN-IO-02" class="btn btn-primary copy">Click to copy asset code</button>
                    </div>
                    <div class="col-md-4">
                        <h3>Smart for Good</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type 
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised in
                            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.</p>
                            <a href="" class="ml-1"><img width="8%" src="imagery/alert-icon.png"> Estimates</a>
                      </div>
                  </div>
            </div>
            <div class="carousel-item" id="3">
              <div class="row">
                <div class="col-md-6">
                  <h1><img src="asset/BN-IO-04.jpg" class="proimg"></h1>
                  <p class="texto">BN-IO-04</p>
                      <button type="button" value="BN-IO-04" class="btn btn-primary copy">Click to copy asset code</button>
                </div>
                <div class="col-md-4">
                    <h3>Smart for Good</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised in
                        the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.</p>
                        <a href="" class="ml-1"><img width="8%" src="imagery/alert-icon.png"> Estimates</a>
                  </div>
              </div>
          </div>
        </div>
        <br>
        <div class="btn-group ml-5 mb-5" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary previous"><</button>
            <button type="button" class="btn btn-primary one">1</button>
            <button type="button" class="btn btn-primary active"><div class="atual"></div></button>
            <button type="button" class="btn btn-primary three">3</button>
            <button type="button" class="btn btn-primary next">></button>
          </div>
      </div>
  </div>
  </div>
    </div>
</body>
<!-- Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/principal.js"></script>
</html>